.CompanyCard {
    border: solid 1px darkgrey;
    width: 80%;
    max-width: 800px;
    margin: 5px auto;
    text-align: left;
    padding: 5px 20px;
    background-color: white;
}

.CompanyCard a {
    text-decoration: none;
}

.CompanyCard p {
    color: darkslateblue;
}